# This file defines the owners of the code in this repository.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information.

# Assign @peckjon and @zkoppert as code owners for all files in the repository
*       @peckjon @zkoppert